

<div id="toast"></div>

<script src="/javascripts/script.js"></script>
</body>
</html>
<div id="toast"></div>


<script src="/javascripts/utils.js"></script>
<script src="/javascripts/auth.js"></script>
<script src="/javascripts/dashboard.js"></script>
<script src="/javascripts/transaction.js"></script>
<script src="/javascripts/transfer.js"></script>
<script src="/javascripts/history.js"></script>
<script src="/javascripts/beneficiaries.js"></script>
<script src="/javascripts/profile.js"></script>
<script src="/javascripts/admin.js"></script>
<script src="/javascripts/script.js"></script>
  
</body>
</html>
